@import "../CssVariables/variable.scss";

.nav-list{
    border: 1px solid $borderColor;
    background-color: $bg-color;
    ul{
        a{
            li{
                color: $light-grey;
                &:hover{
                    color: $primary-color;
                }
                svg{
                    font-size: 14px;
                }
            }
        }
    }
}
.color-prim{
    color: $primary-color !important;
}
.color-grey{
    color: $light-grey;
}
.span-sec{
    font-size: 10px;
}
.home-sec{
    height: 100dvh !important;
}
.percent{
    color: $primary-color;
    font-size: 20px;
}
.icon-size{
    text-align: center;
    margin-right: 15px;
    margin-bottom: 15px;
    div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid $borderColor;
    height: 23dvh;
    width: 9dvw;
    border-radius: 70px;
    &:hover{
        cursor: pointer;
        border-color: $primary-color;
    }
    svg{
        font-size: 28px
    }
}
    p{
        margin-top: 10px;
    }
    
}
.package-btn{
    padding: 5px;
    border-radius: 20px;
    background-color: $primary-color;
    border: none;
    color: $bg-color;
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
    &:hover{
        color: $primary-color;
        background: none;
        border: 1px solid $primary-color;
        cursor: pointer;
    }
}
.border-color{
    border-color: $borderColor;
    &:hover{
        border-color: $primary-color;
    }
}
img{
    border-radius: 30px;
}
.img-size{
    height: 35vh;
    width: auto;
}