@import "../../CssVariables/variable.scss";
body{
    font-size: 16px;
    color: #fff;
}
.sider-main{
    max-width: 370px;
    padding: 20px;
    height: 100dvh !important;
    display: flex;
    .sider-div{
        border: 1px solid $borderColor;
        padding: 25px;
        height: 94dvh;
        width: 100%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .name-div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            h3{
                font-size: x-large;
            }
            p{
                font-size: 12px;
            }
        }
        p{
            font-size: 20px;
        }
            img{
                margin: 20px 0px 0px 0px;
                height: 250px;
                width: 280px;
                object-fit: cover;
                border-radius: 10px;
            }
        .sider-footer{
            display: flex;
            flex-direction: column;
            line-height: 30px;
            text-align: center;
            margin: 20px 0px;
            span{
                font-size: 12px;
                color: $light-grey;
            }
            ul{
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                padding-top: 5px;
                gap: 3px !important;
                color: $light-grey;
                li{
                    list-style: none;
                    margin-top: 10px;
                    height: 40px;
                    width: 40px;
                    border-radius: 20px;
                    border: 1px solid $light-grey;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover{
                        color: $primary-color;
                        border-color: $primary-color;
                        cursor: pointer;

                    }
                }
            }
            button{
                padding: 1px;
                border-radius: 20px;
                margin: 30px 0px;
                background-color: $primary-color;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                color: $bg-color;
                svg{
                    margin-right: 5px;
                }
                &:hover{
                    color: $primary-color;
                    background: none;
                    border: 1px solid $primary-color;
                    cursor: pointer;
                }
            }
        }
    }
}
