$bg-color: #1f1f1f;
$light-grey:#999;
$primary-color: #00c3ff;
$borderColor: #565656;

:export {
    $bg-color: #1f1f1f;
    $light-grey:#999;
    $primary-color: #00c3ff;
$borderColor: #565656

}

// -primary-color: #00c3ff;
//     --paragraph-color: #999;
//     --body-background: #1f1f1f;
//     --body-background-color: #1f1f1f;
//     --text-color: #fff;
//     --border-color: #565656;
//     --tooltip-background-color: #404042;
//     --sidebar-background-color: #191919;
//     --overlay-background-color: #565656;